:host::ng-deep {
    .select-title {
        // width: 200px;
        // margin: 0 auto;
        text-align: center;
        color: #ffffff;
        transition: 1s all ease;
        .title {
            width: 60px;
            display: block;
            position: relative;
            margin: 0 auto;
        }
        .anticon {
            position: absolute;
            top: 5px;
            right: 0;
            margin-left: 10px;
            font-size: 12px;
            display: none;
            transition: 1s all ease;
        }
        &:hover {
            background: #171819;
            .anticon {
                display: inline-block;
            }
        }
    }
    .select-content {
        width: 150px;
        color: #ffffff; // margin: 5px auto;
        left: 50%;
        margin-left: -75px;
        margin-top: 5px;
        background: #171819;
        position: absolute;
        z-index: 100;
        box-shadow: 5px 5px 20px -5px #000;
        li {
            // text-align: center;
            line-height: 30px;
            padding: 0 10px;
            box-sizing: border-box;
            position: relative;
            .anticon {
                margin-right: 5px;
            }
            .children-select-box {
                position: absolute;
                top: 0px;
                right: -150px;
                width: 150px;
                color: #ffffff;
                background: #171819;
                box-shadow: 5px 5px 20px -5px #000;
                li:hover {
                    background-color: #d8d9da;
                }
            }
            .Menu {
                position: absolute;
                right: 10px;
            }
        }
        .active {
            background-color: #d8d9da;
            .Menu {
                display: inline-block;
            }
        }
    }
    .select-box {
        padding: 10px 0;
    }
}