<ng-container>
    <ul class="nav">
        <li class="nav-item" openitem>
            <div class="item-box"><span class="item-icon"><i class="anticon anticon-exclamation-circle"></i></span>总览</div>
        </li>
        <li class="nav-item" openitem>
            <div class="item-box"><span class="item-icon"><i class="anticon anticon-bell"></i></span>数据中心池
                <span class="open-item"><i class="anticon anticon-plus-square-o"></i></span></div>
            <ul class="nav-item-children">
                <li>11111</li>
            </ul>
        </li>
        <li class="nav-item" openitem>
            <div class="item-box"><span class="item-icon"><i class="anticon anticon-lock"></i></span>镜像服务
                <span class="open-item"><i class="anticon anticon-plus-square-o"></i></span>
            </div>
            <ul class="nav-item-children">
                <li>11111</li>
            </ul>
        </li>
        <li class="nav-item" openitem>
            <div class="item-box"><span class="item-icon"><i class="anticon anticon-area-chart"></i></span>网络服务
                <span class="open-item"><i class="anticon anticon-plus-square-o"></i></span></div>
            <ul class="nav-item-children">
                <li>11111</li>
            </ul>
        </li>
        <li class="nav-item" openitem>
            <div class="item-box"><span class="item-icon"><i class="anticon anticon-cloud"></i></span>存储
                <span class="open-item"><i class="anticon anticon-plus-square-o"></i></span></div>
            <ul class="nav-item-children">
                <li>11111</li>
            </ul>
        </li>
        <li class="nav-item" openitem>
            <div class="item-box"><span class="item-icon"><i class="anticon anticon-eye"></i></span>控制台服务
                <span class="open-item"><i class="anticon anticon-plus-square-o"></i></span></div>
            <ul class="nav-item-children">
                <li>11111</li>
            </ul>
        </li>
        <li class="nav-item" openitem>
            <div class="item-box"><span class="item-icon"><i class="anticon anticon-bulb"></i></span>管理
                <span class="open-item"><i class="anticon anticon-plus-square-o"></i></span></div>
            <ul class="nav-item-children">
                <li>11111</li>
            </ul>
        </li>
        <li class="nav-item" openitem>
            <div class="item-box"><span class="item-icon"><i class="anticon anticon-chrome"></i></span>日志
            </div>
        </li>
    </ul>
</ng-container>