:host::ng-deep {
    .echarts-content {
        height: 100%;
    }
    .charts-List {
        padding: 10px;
    }
    .ant-input-group-addon {
        background: #171819;
        color: #ffffff;
    }
    .Edit-submit {
        background: #171819;
        color: #ffffff;
    }
}