<div class="echarts-content" [ngSwitch]="charttype">
    <gridster [options]="options" *ngIf="cardTable" class="gridster-box">
        <gridster-item [item]="item" *ngFor="let item of dashboard" class="cardbox">
            <div class="charts-List" *ngSwitchCase="'default'">

                <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarExtraContent]="extraTemplate">
                    <nz-tab [nzTitle]="'Add'">
                        <nz-card (click)="ShowLine()">
                            <div nz-card-grid>
                                <span>
                  <i class="anticon anticon-line-chart"></i>
                </span>
                                <div>Graph</div>
                            </div>
                            <div nz-card-grid>
                                <span>
                  <i class="anticon anticon-retweet"></i>
                </span>
                                <div>Singlestat</div>
                            </div>
                            <div nz-card-grid>
                                <span>
                  <i class="anticon anticon-table"></i>
                </span>
                                <div>Table</div>
                            </div>
                            <div nz-card-grid>
                                <span>
                  <i class="anticon anticon-edit"></i>
                </span>
                                <div>Text</div>
                            </div>
                        </nz-card>
                    </nz-tab>
                    <nz-tab [nzTitle]="'Paste'">
                        2
                    </nz-tab>
                </nz-tabset>
                <ng-template #extraTemplate>
                    <i class="anticon anticon-close" (click)="deleteTab()"></i>
                </ng-template>
            </div>
            <div class="charts-content" *ngSwitchCase="'line'">
                <uxsino-select-tree (changedispach)="changedispach($event)"></uxsino-select-tree>
                <div echarts [options]="myOptions" (chartInit)="onChartInit($event)" id="demo1"></div>
            </div>
        </gridster-item>
    </gridster>


    <div class="Edit-box" *ngIf="showEdit">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab [nzTitle]="'modify'">
                <div nz-row>
                    <div nz-col nzSpan="4" nzOffset="1">
                        <div style="margin-bottom: 16px;">
                            <nz-input-group [nzAddOnBefore]="Xxes">
                                <input type="text" nz-input [(ngModel)]="XxesValue" placeholder="例如:输入12,34格式">
                            </nz-input-group>
                            <ng-template #Xxes>
                                Xxes
                            </ng-template>
                        </div>
                    </div>
                    <div nz-col nzSpan="4" nzOffset="1">
                        <div style="margin-bottom: 16px;">
                            <nz-input-group [nzAddOnBefore]="Yxes">
                                <input type="text" nz-input [(ngModel)]="YxesValue">
                            </nz-input-group>
                            <ng-template #Yxes>
                                Yxes
                            </ng-template>
                        </div>
                    </div>
                    <div nz-col nzSpan="4" nzOffset="1">
                        <div style="margin-bottom: 16px;">
                            <nz-input-group [nzAddOnBefore]="Type">
                                <input type="text" nz-input [(ngModel)]="TypeValue">
                            </nz-input-group>
                            <ng-template #Type>
                                Type
                            </ng-template>
                        </div>
                    </div>
                    <div nz-col nzSpan="4" nzOffset="1">
                        <div style="margin-bottom: 16px;">
                            <nz-input-group [nzAddOnBefore]="Format">
                                <input type="text" nz-input [(ngModel)]="FormatValue">
                            </nz-input-group>
                            <ng-template #Format>
                                Format
                            </ng-template>
                        </div>
                    </div>
                    <div nz-col nzSpan="2" nzOffset="22">
                        <button nz-button nzType="default" class="Edit-submit" (click)="EditSubmit()">保存</button>
                    </div>
                </div>
            </nz-tab>

        </nz-tabset>
    </div>

</div>