:host::ng-deep {
    .nav-list {
        height: 100%;
        background-color: #999999;
        .list-item {
            line-height: 50px;
            font-size: 16px;
            color: #ffffff;
            padding-left: 10px;
            box-sizing: border-box;
            position: relative;
            &:hover {
                background-color: #666666;
            }
            //添加操作
            .add-operation {
                width: 200px;
                line-height: 30px;
                font-size: 12px;
                position: absolute;
                top: 30px;
                left: 100px;
                background: #ffffff;
                color: #000;
                padding-left: 10px;
                box-sizing: border-box;
                z-index: 100;
                &:hover {
                    color: #ffffff;
                    background-color: #000;
                }
            }
            //子集列表
            .nav-list-children {
                background: #000;
                display: none;
                .list-item-children {
                    padding-left: 15px;
                    box-sizing: border-box;
                }
            }
        }
        .open-item {
            float: right;
            margin-right: 10px;
        }
    }
}