<div class="data-charts-body">
    <button nz-button class="addecharts" nzType="default" (click)="showCard()">
    <i class="anticon anticon-bar-chart"></i>
  </button>
    <gridster [options]="options" *ngIf="cardTable">
        <gridster-item [item]="item" *ngFor="let item of dashboard" class="cardbox">
            <div class="card-container">
                <uxsino-charts-content [dashboard]="dashboard" (dispach)="dispach($event)" [boxShow]="boxShow"></uxsino-charts-content>
            </div>
        </gridster-item>
    </gridster>
</div>